
  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: rgb(193, 193, 248);
    padding: 10px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}
.navbar .logo{
    margin-left: 70px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}
.menu a{
    text-decoration: none;
    padding-right: 70px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: 700;
}
#body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.text{
    margin-top: 5%;
    margin-left: 13%;
    font-size: 35px;
    padding: 50px;
}
.img{
    margin-top: 5%;
    padding-left: 5%;
}
.btn{
    background-color: rgb(58, 58, 255);
    color: white;
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 700;
    border-radius: 7px;
}
#footer{
    background-color: rgb(193, 193, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 700;
}