
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Poppins:wght@200;300&family=Ubuntu:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: rgb(248, 40, 82);
    padding: 3px;
    color: whitesmoke;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}
.navbar .logo{
    margin-left: 70px;
    font-size: 22px;
}
.menu a{
    text-decoration: none;
    padding-right: 70px;
    color: whitesmoke;
    font-weight: 700;
    transition: 0.3s;
}
.menu a:hover,
.menu a.active {
    color: white;
}

#home{
    display: flex;
    align-items: center;
    padding: 50px;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}
.text{
    margin-top: 5%;
    font-size: 35px;
    padding: 80px;
}
.text strong{
    color: crimson;
}
.img{
    margin-top: 5%;
    padding-left: 5%;
}
.btn{
    background-color: crimson;
    color: white;
    margin-top: 30px;
    padding: 2% 10%;
    font-weight: 700;
    border: 2px solid crimson;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    border-radius: 6px;
    transform: 0.3s;
}
.btn:hover{
    background: transparent;
    color: crimson;
}
#about{
    padding-top: 50px;
    padding-bottom: 50px;
}
 .heading{
    text-align: center;
    font-size: 20px;
}
.heading h1{
    font-size: 50px;
}
.heading p{
    font-size: 30px;
}
.about-me{
    display: flex;
}
.image{
    padding: 0 80px 0 8%; 
}
.about-me-text{
    padding: 5% 10% 0 0;
    font-size: 20px;
}
.about-me-text h5{
   padding-bottom: 20px;
   font-size: 20px;
}
.btn1{
    background-color: crimson;
    color: white;
    margin-top: 30px;
    padding: 2% 10%;
    font-weight: 700;
    border: 2px solid crimson;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    transform: 0.3s;
}
.btn1:hover{
    background: transparent;
    color: crimson;
}
#skills{
    padding: 50px 0 50px 50px;
    background-color: #111;
    color: white;
}
.headingg{
    text-align: center;
    font-size: 20px;
    padding-bottom: 5%;
    font-size: 40px;
}

.boxxx{
    display: flex;
    margin: 20px;
    padding: 40px;
}
.boxx h2{
    text-align: center;
    padding-bottom: 5px;
}

.boxx{
   margin: 10px;
   padding: 15px;
   background-color: #222;
   border-radius: 5px;
   transition: .3s;
}
.boxx i {
    color: white;
}
.boxx:hover{
    background-color: crimson;
    color: black;
}

 #skills i{
   font-size:4rem ;
   padding: 10% 0 20px 40%;
}
#contacts{
    padding: 50px 0;
}
#contacts i {
    color: crimson;
}
.heading1 h2{
    font-size: 50px;
}
.heading1 p {
    font-size: 30px;
}
.heading1{
    text-align: center;
    font-size: 20px;
    padding-bottom: 5%;
}
.boxes{
    display :flex;
    font-size: 18px;
}
.container1 h4{
    font-size: 25px;
}
.containerr{
    margin-left: 8%;
}
.container1{
    align-items: center;
    padding: 10px;
}
.container1 p{
    padding: 1%;
}
.container1 h4{
    padding-left: 1%;
}
.container2{
    display: flex;
    padding: 3%;
}
.container2 i{
    padding-top: 4%;
    font-size: 25px;
}
.container3{
    display: flex;
    padding: 3%;
}
.container3 i{
    padding-top: 4%;
    font-size: 25px;
}
.container4{
    display: flex;
    padding: 3%;
}
.container4 i{
    padding-top: 4%;
    font-size: 25px;
}
.cont{
    padding-left: 8%;
}
.container5{
    font-size: 30px;
    padding: 3% 0 0 5%;
}
.form{
    width: 20%;
    margin-left: 5%;
}
.form h4{
    font-size: 25px;
}
.form h4{
    padding: 15% 0 8% 0;
}
.form1 input{
    width: 160%;
    padding: 2%;
    border-radius: 5px ;
    border-style: solid;
}
.form2 input{
    width: 160%;
    padding: 2%;
    border-radius: 5px ;
    border-style: solid;
}
.form3 input{
    width: 160%;
    padding: 0 5% 20% 2%;
    border-radius: 5px ;
    border-style: solid;
}
.form1{
    padding-bottom: 30px;
}
.form2{
    padding-bottom: 30px;
}

.btn2{
    background-color: crimson;
    color: white;
    width: 190px;
    height: 45px;
    margin-top: 20px;
    padding: 2% 10%;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid crimson;
    outline: none;
    border-radius: 6px;
    transform: 0.3s;
}
.btn2:hover{
    background: transparent;
    color: crimson;
}
footer strong{
    color: crimson;
}
footer{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}