.wrapper-class {
    padding: 0 5%;
}

.mid-padding {
    padding: 30px 0;
}

.bottom-padding {
    padding-bottom: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}