.portfolio-form {
    width: 50%;
}

.portfolio-form h3 {
    font-size: map-get($font-size, icon);
    padding: 10% 0 3% 0;
}

.first-form input {
    @include input;
}

.first-form, .second-form {
    padding-bottom: 30px;
}

.second-form input {
    @include input;
}

.third-form input {
    width: 100%;
    padding: 2% 5% 10% 2%;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
