
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Poppins:wght@200;300&family=Ubuntu:wght@300&display=swap');

.wrapper-class{
    padding: 0 5%;
}
.mid{
    padding: 30px 0;
}
.bottom{
    padding-bottom: 40px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


    /* Header */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 70px;
    width: 100%;
    padding: 0 5%;
    background-color: #111;
    color: whitesmoke;
}
nav .logo{
    font-size: 35px;
    font-weight: 700;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
} 
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
    color: crimson;
}
nav .menu-btn i{
    font-size: 25px;
    display: none;
    cursor: pointer;
}
input[type="checkbox"]{
    display: none;
}


    /* Home */

#home{
    display: flex;
    align-items: center;
    background-image: url('../image/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.home-content{
    font-size: 35px;
    align-items: center;
    justify-content: center;
}
.home-content strong{
    color: crimson;
}
.home-btn{
    background-color: crimson;
    color: white;
    margin-top: 30px;
    padding: 2% 10%;
    font-weight: 700;
    border: 2px solid crimson;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.home-btn:hover{
    background: transparent;
    color: crimson;
}


    /* About */

 .about-heading{
    text-align: center;
}
.about-heading h1{
    font-size: 40px;
}
.about-heading p{
    font-size: 25px;
    color: crimson;
}
.about-me{
    display: flex;
}
.about-me-image{
  flex: 1;
}
.about-me-text{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-me-text h5{
    font-size: 20px;
}
.about-me-text p{
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
}

.about-btn{
    background-color: crimson;
    color: white;
    margin-top: 30px;
    padding: 2% 10%;
    font-weight: 700;
    border: 2px solid crimson;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.about-btn:hover{
    background: transparent;
    color: crimson;
}


    /* Services */

#services{
    background-color: #111;
    color: white;
}
#services i{
  font-size:4rem ;
  padding: 10% 0 20px 40%;
}
.services-heading{
    text-align: center;
    font-size: 30px;
}

.services-content{
    display: flex;
    padding: 0 4%;
}
.services-box h2{
    text-align: center;
    padding-bottom: 5px;
}
.services-box{
   margin: 10px;
   padding: 15px;
   background-color: #222;
   border-radius: 5px;
   transition: all 0.3s ease;
}
.services-box i {
    color: white;
}
.services-box:hover{
    background-color: crimson;
    color: black;
}



    /* Contacts */

#contacts i {
    color: crimson;
}
.contacts-heading h2{
    font-size: 40px;
}
.contacts-heading p {
    font-size: 25px;
    color: crimson;
}
.contacts-heading{
    text-align: center;
}
.contacts-column{
    display :flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
}
.first-row h4{
    font-size: 25px;
}
.first-row{
    align-items: center;
    padding: 10px;
}
.second-row{
    display: flex;
    padding: 3%;
}
.second-row i{
    padding-top: 3%;
    font-size: 25px;
}
.third-row{
    display: flex;
    padding: 3%;
}
.third-row i{
    padding-top: 3%;
    font-size: 25px;
}
.fourth-row{
    display: flex;
    padding: 3%;
}
.fourth-row i{
    padding-top: 3%;
    font-size: 25px;
}
.fifth-row{
    font-size: 30px;
}
.row-content{
    padding-left: 6%;
}
.form{
    width: 50%;
}
.form h4{
    font-size: 25px;
    padding-bottom: 2%;
}
.first-form input{
    width: 100%;
    padding: 2%;
    border-radius: 5px ;
    border-style: solid;
}
.first-form{
    padding-bottom: 30px;
}
.second-form input{
    width: 100%;
    padding: 2%;
    border-radius: 5px ;
    border-style: solid;
}
.second-form{
    padding-bottom: 30px;
}
.third-form input{
    width: 100%;
    padding: 0 5% 10% 2%;
    border-radius: 5px ;
    border-style: solid;
}
.contacts-btn{
    background-color: crimson;
    color: white;
    width: 240px;
    height: 45px;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid crimson;
    outline: none;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.contacts-btn:hover{
    background: transparent;
    color: crimson;
}


    /* Footer */

footer{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
footer strong{
    color: crimson;
}