@mixin background($image, $postion, $size, $repeat){
    background-image: $image;
    background-position: $postion;
    background-size: $size;
    background-repeat: $repeat;
}

@mixin display-align($display, $align){
    display: $display;
    align-items: $align;
}

@mixin align-justify($align, $justify){
    align-self:$align ;
    justify-content: $justify;
}

@mixin display-justify($display, $justify){
        display: $display;
        justify-content: $justify;
}

@mixin button {
    background-color: $accent-color;
    color: $text-color;  
    margin-top: 30px;
    padding: 1% 5%;
    font-weight: map-get($font-weight, bold );
    border: 2px solid $accent-color;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    border-radius: 6px;
    font-size: 20px;
    transition: all 0.3s ease;
}
footer, .fourth-row, .third-row, .second-row, .contacts-column, .services-content, .about-me-text, .about-me  {
    @extend .flex;
}


