* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper-class {
    padding: 0 5%;
}

.mid-padding {
    padding: 70px 0;
}

.bottom-padding {
    padding-bottom: 70px;
}

.flex {
    display: flex;
}

h2 {
    font-size: 40px
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    i:hover{
        opacity: .8;
       color: black;
    }
}


