.about-heading {
    text-align: center;
}

.about-heading p {
    font-size: map-get($font-size, text);
    color: $accent-color;
}


.about-me-image {
    flex: 1;
}

.about-me-text {
    flex: 2;
    flex-direction: column;
    justify-content: center;
}

.about-me-text h3 {
    font-size: map-get($font-size, text);
}

.about-me-text p {
    font-size: map-get($font-size, text);
    text-align: justify;
    padding-top: 20px;
}