.portfolio-home {
    @include display-align(flex, center);
    @include background(url('../image/background.jpg'), center, cover, no-repeat);
    height: 100vh;

    .portfolio-home-content {
        font-size: map-get($font-size, logo);
        @include align-justify(center, center);
    }

    .portfolio-home-content strong {
        color: $accent-color;
    }
    a{
        text-decoration: none;
    }
    .my-icon{
        font-size: 30px;
        padding: 5% 0;
        i{
            padding-right: 10px;
            cursor: pointer;
        }
        i:hover{
            color: $accent-color;
        }
        a{
            text-decoration: none;
            color: $primary-color;
        }
    }
}